page-login {
    .login-content {
    background: #ffffff;
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
      border: 2px;
    }
 
    .login-box {
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
      border-color: #black;
      background-color: #ffffff;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     .ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 3px solid #000000;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
       background-color: #ffffff;//grün
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #0972a5;//blau
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
 
     
  }

}
