page-menu {
    .menu-content {
        background-color: #ffffff;
    }
    .button{
       background-color: #8df000;
      // margin: 20px;
       //padding: 30px;
       //padding-left: 100px;
      // padding-right: 100px;
       font-style: italian;
       font-size: 18px;
       color: black;
       size: 150px;
       //display: inline-table;
       max-height: 30px;
       max-width: 200px;
       min-width: 199px;
       
    }
    .menu-nav{
        background-color: #8df000;
    }
}
